package controller

import (
    "net/http"
    "github.com/labstack/echo/v4"
)

type Home struct {
    Body string "json:'body'"
    NextStep string "json:'nextStep'"
}

func HomeController(c echo.Context) error {
    home := Home{}
    home.Body = "New Project Succefuly Created!"
    home.NextStep = "Go code!"
    return c.JSON(http.StatusOK, home)
}